@font-face {
	font-family: 'BunglerLight';
	src: url(../fonts/BunglerLight.ttf);
}

body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  color: black;
  min-height: 500px;
}

header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
}

.head-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
}

.content-wrap {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .content-wrap {
    margin: 0 12px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.content-wrap.top img {
  width: 500px;
  object-fit: cover;
  height: 332px;
}

@media screen and (max-width: 800px) {
  .content-wrap.top {
    margin-bottom: 24px;
  }

  .content-wrap.top img {
    max-width: 100%;
    height: 181px;
  }
}

.content-wrap.menu {
  height: 150px;
  justify-content: flex-start;
  margin-left: 12px;
}

.content-wrap.about {
  height: 500px;
}

.content-wrap.story {
  padding: 24px 0;
}

.content-wrap.contact {
  height: 500px;
}

.box {
  border: 1px solid black;
  max-width: 500px;
  box-shadow: 3px 3px 0px 0 #666;
}

.box-head {
  padding-left: 10px;
  border-bottom: 1px solid black;
  background: #3988AA;
  color: #fff;
}

.menu-wrap {
  height: 100%;
  width: 100px;
  margin-right: 36px;
}

.menu-wrap ul {
  list-style: none;
}

.menu-wrap li {
  border-bottom: 1px solid black;
}

.menu-wrap li:last-child {
  border-bottom: none;
}

.menu-wrap li:hover {
  cursor: pointer;
  background: #666;
}

.menu-wrap a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0 10px;
}

@media screen and (max-width: 800px) {
  .menu-wrap {
    width: 100%;
    margin: 0;
  }
}

.about-wrap {
  min-width: 500px;
}

.contents-list {
  display: flex;
  margin: 0 10px;
}

.title {
  width: 80px;
}

@media screen and (max-width: 800px) {
  .about-wrap {
    min-width: inherit;
    margin-bottom: 24px;
    width: 100%;
  }

  .title {
    width: 70px;
  }

  .text {
    width: 100%;
  }

  .sp-mb-20 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .story-wrap {
    width: 100%;
    margin-bottom: 24px;
  }
}

.story-text {
  margin: 0 10px;
}

.contact-wrap {
  min-width: 500px;
}

.contact-text {
  padding: 8px 10px;
}

.contact-wrap input, textarea {
  width: 95%;
}

.contact-wrap button {
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top-color: #D9DFEA;
  border-left-color: #D9DFEA;
  border-bottom-color: #337591;
  border-right-color: #337591;
  background-color: #3988AA;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .contact-wrap {
    width: 100%;
    min-width: inherit;
    margin-bottom: 24px;
  }
}


/* common */
.pt-4 { padding-top: 4px; }
.pb-4 { padding-bottom: 4px; }
.mb-20 { margin-bottom: 20px; }
.text-align-center { text-align: center; }
.margin-auto { margin: 0 auto }

::-moz-selection {
	background-color: #3988AA;
}
::selection {
	background-color: #3988AA;
}